*{
    font-family: "Oswald", sans-serif;
    
}
.hyperlink-button{
font-family: "Playwrite CO", cursive !important;
font-size:28px;
font-weight:900;
transition:ease 0.175s;
border:1px solid black;
}
.hyperlink-button:hover{
    transition:ease 0.175s;
    cursor:pointer;
    background-color: silver;
}
.ingredients-title{
    font-size:x-large;
    text-align: center;
    margin: 10px auto;
    border:1px solid black;
    font-weight: 700;
}
.logo{
    height:75px;
}
.card{
    Height:fit-content;
    transition: ease 0.2s;
    border:none;
}
.card:hover{
    box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.2); 
    transition: ease 0.2s;
}
.cocktails{
    font-family: "Playwrite CO", cursive !important;
    font-size:60px;
    font-weight: 900;
}
.ingredients.selected{
    background-color: rgb(199, 197, 197);
    color:#005892;
    transition: ease 0.3s;
}
.remove-icon{
    
    font-size:20px;
}
.ingredients.selected .remove-icon{
    display: flex;
}
.ingredients{
    color: #0099ff;
    display:flex;
    text-transform: capitalize;
    width:fit-content;
    padding:2px 10px;
    font-size :16px;
    font-weight: 900;
    margin:5px 7px 5px 7px;
    border:1px solid black;
    border-radius: 10rem;
    cursor:pointer;
    transition: ease 0.3s;
    background-color: #e9ecef;
}
.search{
    font-size:30px;
}

/*cocktails names - font-family: "Bebas Neue", sans-serif;*/
.cocktail-name{
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size:30px;
    font-weight: 700;
    
}


.ingredient{
    font-size:18px;
    margin:5px 0;
}
.ingredient>b{
    background-color:#008ae6;
    border-radius:3px;
    color:white;
    padding:0px 5px;
}
.shot{
Height:fit-content;
padding:20px ; 
}
.shot-name{
    font-family: "Abril Fatface", serif;
    text-transform: capitalize;
    text-align: center;
    font-size:30px;
    font-weight: 700;
}

.shot-ingredient {
font-size:larger;
font-weight: 500;
}                     
.shot-ingredient > b{
border-radius:10em;
background-image:linear-gradient(to right,white,#008ae6);
padding:2px 15px !important;
font-weight: 900;

}

